<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>BezKoder - Spring Boot Thymeleaf example</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
      <form id="customerForm" th:action="@{/customers/save}" method="post" enctype="multipart/form-data" th:object="${customer}"
        style="max-width: 550px; margin: 0 auto">

        <input type="hidden" th:field="*{id}" />

        <div class="p-3">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="firstName">First Name</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{firstName}" required minlength="2" maxlength="128" class="form-control"
                id="firstName" />
            </div>

  <!-- Save confirmation modal -->
  <div class="modal fade text-center" id="saveConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Save Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Do you want to save the changes?</span>
        </div>
        <div class="modal-footer">
          <button type="button" id="yesSaveBtn" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="surName">Surname</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{surName}" minlength="2" maxlength="256" class="form-control"
                id="surName" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="email">Email</label>
            <div class="col-sm-9">
              <input type="email" th:field="*{email}" required class="form-control"
                id="email" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="phone">Phone</label>
            <div class="col-sm-9">
              <input type="tel" th:field="*{phone}" maxlength="16" class="form-control"
                id="phone" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="address">Address</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{address}" maxlength="256" class="form-control"
                id="address" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="city">City</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{city}" maxlength="128" class="form-control"
                id="city" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="state">State</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{state}" maxlength="128" class="form-control"
                id="state" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="zipCode">Zip Code</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{zipCode}" maxlength="16" class="form-control"
                id="zipCode" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="entryDate">Entry Date</label>
            <div class="col-sm-9">
              <div class="input-group date" id="datepicker">
                <input type="text" th:field="*{entryDate}" class="form-control" id="entryDate" placeholder="Select date" />
                <div class="input-group-append">
                  <span class="input-group-text bg-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="note1">Note 1</label>
            <div class="col-sm-9">
              <textarea class="form-control" th:field="*{note1}" id="note1" rows="3" maxlength="1000"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="note2">Note 2</label>
            <div class="col-sm-9">
              <textarea class="form-control" th:field="*{note2}" id="note2" rows="3" maxlength="1000"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="note3">Note 3</label>
            <div class="col-sm-9">
              <textarea class="form-control" th:field="*{note3}" id="note3" rows="3" maxlength="1000"></textarea>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div>
              <!-- Show only when editing an existing customer -->
              <a th:if="*{id} != null"
                 id="btnDelete"
                 class="btn btn-danger btn-sm"
                 th:attr="data-customer-id=*{id}, data-customer-first-name=*{firstName}, data-customer-sur-name=*{surName}">
                 <i class="fa fa-trash-alt mr-1"></i> Delete
              </a>
              <noscript>
                <div class="text-muted small mt-1">Deleting requires JavaScript. Please enable JavaScript to delete this customer.</div>
              </noscript>
            </div>
            <div>
              <button type="submit" id="btnSave" class="btn btn-primary btn-sm mr-2">
                <i class="fa fa-save mr-1"></i> Save
              </button>
              <button type="button" id="btnCancel" class="btn btn-secondary btn-sm">
                <i class="fa fa-times mr-1"></i> Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Delete confirmation modal -->
  <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
        window.location = "[[@{/customers}]]";
      });
  
      // Delete confirmation
      $("#btnDelete").on("click", function (e) {
        e.preventDefault();
        var link = $(this);
        var customerFirstName = link.data("customerFirstName") || "";
        var customerSurName = link.data("customerSurName") || "";
        var customerId = link.data("customerId");
        var deleteUrl = "[[@{/customers/delete/}]]" + customerId;
        $("#yesBtn").attr("href", deleteUrl);
        var fullName = (customerFirstName + " " + customerSurName).trim();
        $("#confirmText").html("Do you want to delete the customer <strong>" + fullName + "</strong>?");
        $("#confirmModal").modal();
      });

      // Save confirmation
      $("#btnSave").on("click", function (e) {
        e.preventDefault();
        $("#saveConfirmModal").modal();
      });

      $("#yesSaveBtn").on("click", function () {
        $("#saveConfirmModal").modal('hide');
        $("#customerForm").trigger('submit');
      });
    });
  </script>

  
  <script>
    // Initialize date picker
    $(document).ready(function(){
      $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true,
        endDate: '0d',
        weekStart: 1, // Monday as first day of week
        daysOfWeekHighlighted: '0', // Highlight Sunday
        orientation: 'bottom auto',
        templates: {
          leftArrow: '<i class="fa fa-chevron-left"></i>',
          rightArrow: '<i class="fa fa-chevron-right"></i>'
        }
      });
    });
  </script>

</body>

</html>