<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>BezKoder - Spring Boot Thymeleaf example</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
      <form th:action="@{/customers/save}" method="post" enctype="multipart/form-data" th:object="${customer}"
        style="max-width: 550px; margin: 0 auto">

        <input type="hidden" th:field="*{id}" />

        <div class="p-3">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="firstName">First Name</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{firstName}" required minlength="2" maxlength="128" class="form-control"
                id="firstName" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="surName">Surname</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{surName}" minlength="2" maxlength="256" class="form-control"
                id="surName" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="level">Level</label>
            <div class="col-sm-9">
              <input type="number" step="1" th:field="*{level}" required min="1"
                class="form-control" id="level" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="email">Email</label>
            <div class="col-sm-9">
              <input type="email" th:field="*{email}" required class="form-control"
                id="email" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="phone">Phone</label>
            <div class="col-sm-9">
              <input type="tel" th:field="*{phone}" maxlength="16" class="form-control"
                id="phone" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="address">Address</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{address}" maxlength="256" class="form-control"
                id="address" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="city">City</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{city}" maxlength="128" class="form-control"
                id="city" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="state">State</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{state}" maxlength="128" class="form-control"
                id="state" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="zipCode">Zip Code</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{zipCode}" maxlength="16" class="form-control"
                id="zipCode" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="entryDate">Entry Date</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{entryDate}" class="form-control datepicker"
                id="entryDate" placeholder="Select date" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 form-check-label" for="published">Published</label>
            <div class="col-sm-9">
              <input type="checkbox" th:field="*{published}" />
            </div>
          </div>

          <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
        window.location = "[[@{/customers}]]";
      });
    });
  </script>

  <script>
    // Initialize date picker
    document.addEventListener('DOMContentLoaded', function() {
      flatpickr(".datepicker", {
        dateFormat: "Y-m-d",
        allowInput: true,
        defaultDate: new Date(),
        maxDate: "today"
      });
    });
  </script>

</body>

</html>