<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Medical History</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Medical History</h2>
    </br>
    <h4 th:text="'Medical History for Pet: ' + ${pet.name} + ' (' + ${pet.id} + ')'"></h4>
    <h4 th:text="'of customer: ' + ${customer.firstName} + ' ' + ${customer.surName} + ' (' + ${customer.id} + ')'"></h4>
    

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
      role="alert">
      [[${message}]]
      <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Add any specific content or placeholders for medical history data -->
    
    <div class="my-3">
      <form th:action="@{'/medicalhistory/search'}" id="searchForm">
        <!-- Include search form fields for Medical History -->
      </form>
    </div>

    <div class="my-3">
      <button id="btnAddMedicalHistory" class="btn btn-primary">Add Medical History Entry</button>
    </div>

    <div th:if="${medicalHistoryList != null and medicalHistoryList.size() > 0}">
      <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
          <tr>
            <th th:replace="fragments/sorting :: sortingMedicalHistory('id','Id')"></th>
            <th th:replace="fragments/sorting :: sortingMedicalHistory('created','Date added')">Date added</th>
            <th>Date Updated</th>
            <th>Report</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="history : ${medicalHistoryList}">
            <th scope="row">[[${history.id}]]</th>
            <td>[[${history.created}]]</td>
            <td>[[${history.updated}]]</td>
            <td>[[${history.report}]]</td>
            <!-- Actions (Edit, Delete, etc.) -->
            <td>
              <a th:href="@{'/customers/' + ${customer.id} + '/pets/' + ${pet.id} + '/medicalhistoryrecord/'+ ${history.id} + '/edit'}" title="Edit this entry"
              class="fa-regular fa-pen-to-square icon-dark"></a>
            &nbsp;
            <a th:href="@{'/medicalhistory/delete/' + ${history.id}}" th:customerTitle="${history.id}" id="btnDelete"
              title="Delete this entry" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
            </td>            
          </tr>
        </tbody>
      </table>
    </div>

    <div th:unless="${medicalHistoryList != null and medicalHistoryList.size() > 0}">
      <span>No Medical History found!</span>
    </div>

    <nav aria-label="Pagination" th:if="${totalPages > 0}">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
          <a th:replace="fragments/paging :: pagingMedicalHistory(${customer.id},${pet.id},1, '<<', 'First Page')"></a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
          <a
            th:replace="fragments/paging :: pagingMedicalHistory(${customer.id},${pet.id},${currentPage - 1}, 'Prev', 'Previous Page')"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
          <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
          th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
          <a th:replace="fragments/paging :: pagingMedicalHistory(${customer.id},${pet.id},${page}, ${page}, 'Page ' + ${page})"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
          <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
          <a th:replace="fragments/paging :: pagingMedicalHistory(${customer.id},${pet.id},${currentPage + 1},'Next', 'Next Page')"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
          <a th:replace="fragments/paging :: pagingMedicalHistory(${customer.id},${pet.id},${totalPages}, '>>', 'Last Page')"></a>
        </li>
      </ul>
    </nav>

    <div>
      <a th:href="@{'/customers/' + ${customer.id} + '/pets'}">Back to Customer Pets</a>
    </div>

  </div>

  <div class="modal fade text-center" id="confirmModal">
    <!-- Modal content for confirmation dialogs -->
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      // Event listeners for buttons and links
      $("#btnAddMedicalHistory").on("click", function (e) {
        e.preventDefault();
        console.log("Clicked Add Medical History Entry");
        window.location = "[[@{'/pets/' + ${petId} + '/medicalhistoryrecord/new'}]]";
      });

      // Add more event listeners as needed

      function changePageSize() {
        $("#searchForm").submit();
      }
    });
  </script>
</body>

</html>